In [1]:
import pandas as pd
import numpy as np

In [2]:
ALMANAC = pd.read_csv('Synergy_ALMANAC.csv')

In [3]:
drug_name = np.concatenate((ALMANAC['drug_row'].unique(),ALMANAC['drug_col'].unique()))
drug_name = set(drug_name)
Drug = pd.read_csv("Drug_MorganFingerprint.csv")
Drug = Drug.drop(columns=Drug.columns[0])
Drug = Drug.loc[(Drug['Unnamed: 0'].isin(drug_name))]
Drug.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308
0,5-Fluorouracil,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Ruxolitinib,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,Pazopanib hydrochloride,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ADM hydrochloride,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,mitomycin C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
cell_name = ALMANAC['DepMap_ID'].unique()
cell_name = set(cell_name)
Cell = pd.read_csv("Cell_Expression.csv")
Cell = Cell.drop(labels=['Unnamed: 0.1'],axis=1)
Cell = Cell.loc[(Cell['Unnamed: 0'].isin(cell_name))]
Cell.head()

,FUCA2 (2519),GCLC (2729),STPG1 (90529),CYP26B1 (56603),NDUFAB1 (4706),ABCB5 (340273),DVL2 (1856),HOXA11 (3207),COPZ2 (51226),CREBBP (1387),...,ATXN7L3B (552889),PRKDC (5591),PBOV1 (59351),OR13A1 (79290),ZNF253 (56242),INAFM1 (255783),MRPL46 (26589),OR1D5 (653166),MYH4 (4622),Unnamed: 0
0,0.787807,0.050403,-0.974220,-0.323582,0.989811,-0.236335,-0.298921,-0.202287,1.367983,0.261626,...,-0.875266,0.393882,-0.361944,-0.256366,-0.989277,0.437202,0.292903,-0.113875,-0.139273,ACH-000376
1,0.132853,0.386435,0.352929,-0.854306,0.845208,-0.267491,-0.906464,2.916524,-0.959258,0.240047,...,0.577029,0.353956,0.779491,0.306228,-0.607047,0.496144,0.624128,-0.113875,-0.057906,ACH-000552
2,0.495884,1.100281,0.259792,1.446457,1.133829,-0.251836,0.644287,1.334840,-1.260119,0.558744,...,-0.354425,1.396615,-0.361944,-0.256366,-1.649981,-0.825381,1.565499,-0.113875,-0.139273,ACH-000971
3,0.846164,0.317847,-1.148976,-0.177931,1.068384,-0.236335,-0.020926,-0.774013,-0.125445,0.193877,...,2.116441,-0.022087,1.888153,-0.256366,0.302199,1.629935,1.539001,-0.113875,-0.139273,ACH-000019
4,0.133439,0.143291,1.862449,1.391342,-0.543912,-0.205784,1.177942,0.161932,0.975983,1.401948,...,0.277040,0.772041,-0.361944,-0.229325,-1.649981,1.343391,-0.138667,-0.113875,-0.139273,ACH-000338

In [5]:
synergy_data = ALMANAC[['drug_row','drug_col','DepMap_ID','synergy_loewe']].copy()
synergy_data = synergy_data.loc[(synergy_data['DepMap_ID'].isin(Cell['Unnamed: 0']))]

In [6]:
Drug_map = dict((v, i) for i,v in enumerate(Drug['Unnamed: 0']))
Drug_id = Drug.replace({'Unnamed: 0':Drug_map})
Drug_id.rename(columns={'Unnamed: 0':'id'}, inplace = True)
Drug_id.set_index('id', inplace=True)
Drug_id.to_csv('./Preprocessed/cls/Drug_use.csv')
Drug_id.to_csv('./Preprocessed/reg/Drug_use.csv')
np.save('./Preprocessed/cls/Drug_map.npy', Drug_map)
np.save('./Preprocessed/reg/Drug_map.npy', Drug_map)
Drug_id.head()

,0,1,2,3,4,5,6,7,8,9,...,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308
id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
Cell_map = dict((v, i) for i,v in enumerate(Cell['Unnamed: 0']))
Cell_id = Cell.replace({'Unnamed: 0':Cell_map})
Cell_id.rename(columns={'Unnamed: 0':'id'}, inplace = True)
Cell_id.set_index('id', inplace=True)
Cell_id.to_csv('./Preprocessed/cls/Cell_use.csv')
Cell_id.to_csv('./Preprocessed/reg/Cell_use.csv')
np.save('./Preprocessed/cls/Cell_map.npy', Cell_map)
np.save('./Preprocessed/reg/Cell_map.npy', Cell_map)
Cell_id.head()

,FUCA2 (2519),GCLC (2729),STPG1 (90529),CYP26B1 (56603),NDUFAB1 (4706),ABCB5 (340273),DVL2 (1856),HOXA11 (3207),COPZ2 (51226),CREBBP (1387),...,ZNF345 (25850),ATXN7L3B (552889),PRKDC (5591),PBOV1 (59351),OR13A1 (79290),ZNF253 (56242),INAFM1 (255783),MRPL46 (26589),OR1D5 (653166),MYH4 (4622)
id,,,,,,,,,,,,,,,,,,,,,
0,0.787807,0.050403,-0.974220,-0.323582,0.989811,-0.236335,-0.298921,-0.202287,1.367983,0.261626,...,-0.931882,-0.875266,0.393882,-0.361944,-0.256366,-0.989277,0.437202,0.292903,-0.113875,-0.139273
1,0.132853,0.386435,0.352929,-0.854306,0.845208,-0.267491,-0.906464,2.916524,-0.959258,0.240047,...,-1.291177,0.577029,0.353956,0.779491,0.306228,-0.607047,0.496144,0.624128,-0.113875,-0.057906
2,0.495884,1.100281,0.259792,1.446457,1.133829,-0.251836,0.644287,1.334840,-1.260119,0.558744,...,-1.645593,-0.354425,1.396615,-0.361944,-0.256366,-1.649981,-0.825381,1.565499,-0.113875,-0.139273
3,0.846164,0.317847,-1.148976,-0.177931,1.068384,-0.236335,-0.020926,-0.774013,-0.125445,0.193877,...,-1.128729,2.116441,-0.022087,1.888153,-0.256366,0.302199,1.629935,1.539001,-0.113875,-0.139273
4,0.133439,0.143291,1.862449,1.391342,-0.543912,-0.205784,1.177942,0.161932,0.975983,1.401948,...,-1.692083,0.277040,0.772041,-0.361944,-0.229325,-1.649981,1.343391,-0.138667,-0.113875,-0.139273

In [8]:
synergy_data_id = synergy_data.replace({'DepMap_ID':Cell_map})
synergy_data_id = synergy_data_id.replace({'drug_row':Drug_map})
synergy_data_id = synergy_data_id.replace({'drug_col':Drug_map})
synergy_data_id

        drug_row  drug_col  DepMap_ID  synergy_loewe
0             67        66         19     -10.659082
1             32        92         19      -8.796808
2             52         3         19      -5.172253
3             29        19         19       2.140359
4             66         5         19      -5.825567
...          ...       ...        ...            ...
236185         1         3         24     -38.087402
236186        33         3         24     -24.851390
236187        42         3         24      -3.214656
236188        72         3         24     -41.788745
236189        74        21         24       6.035544

[236190 rows x 4 columns]

In [9]:
synergy_data_id.to_csv('Synergy_ALMANAC_int.csv')